body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    
}

a, .subtext {
    font-size: 18px;
    color: lightgrey;
    text-decoration: none;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

ul {
    list-style-type: none;
}

.title-container {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 80px;
    gap:40px;
}

.title-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px
}

.title-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.title-button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border-width: 0;
    transition-duration: 0.4s;
    width: 100px;
}

.title-button:hover {
    background-color: white;
    color: #3882F6;
}

.title-image {
    object-fit: cover;
}

.photo-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 300px;
    padding-bottom: 100px;
    gap: 30px;
    align-items: center;
}

.photo-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content-container {
    display: flex;
    gap: 30px;

}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
}

.info-photo {
    border-radius: 15px;
    border: 3px solid;
    border-color: #3882F6;
    
}

.photo-text {
    font-size: 18px;
    color: grey;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: end;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    flex: auto;
    padding-right: 40px;
}

.white-container {
    background-color: white;
    padding: 60px;
}

.signup-container {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 36px 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.signup-title, .signup-text {
    color: #F9FAF8;
}

.signup-title {
    font-weight: bold;
}

.signup-text {
    font-weight: lighter;
}

.signup-button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    transition-duration: 0.4s;
}

.signup-button:hover {
    background-color: white;
    color: #3882F6;
    border-color: #3882F6;
}

.footer-container {
    background-color: #1F2937;
    padding: 30px;
}

.footer-text {
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
}
